### sorting
[Python sorting docs](https://docs.python.org/3/howto/sorting.html)

### what are the data types

In [1]:
## SETS HUMMM Are weird
a = (1,2,3)
print(f'{a} is type: {type(a)}')
#b = set(1,2,3)
b = set('1,2,3')
print(f'{b} is type: {type(b)}')
print("sets are unordered")
# unordered
for i in b:
    print(i)

basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(f'{basket} is {type(basket)}')

print("sets are unordered")
for fruit in basket:
    print(f'{fruit} is fruit from the basket')

(1, 2, 3) is type: <class 'tuple'>
{'3', ',', '2', '1'} is type: <class 'set'>
sets are unordered
3
,
2
1
{'pear', 'orange', 'banana', 'apple'} is <class 'set'>
pear is fruit from the basket
orange is fruit from the basket
banana is fruit from the basket
apple is fruit from the basket

In [9]:
a = (6)
print(f'(6) {type(a)}')
b = 6,
print(f'6, {type(b)}')
c = (6,)
print(f'(6,) {type(c)}')
d = ()
print(type(d))
print(f'() {type(d)}')
d = ()
e = ( )
print(f'( ) {type(e)}')

(6) <class 'int'>
6, <class 'tuple'>
(6,) <class 'tuple'>
<class 'tuple'>
() <class 'tuple'>
( ) <class 'tuple'>

#### Which of the following don't allow duplicates

In [1]:
## How many ones in the print statement
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
numbers.sort(reverse=True)
print(numbers) 
print(type(numbers)) 
numbers = tuple(numbers)
print(numbers) 
print(type(numbers))

[9, 6, 5, 4, 3, 2, 1, 1]
<class 'list'>
(9, 6, 5, 4, 3, 2, 1, 1)
<class 'tuple'>

In [21]:
t = ("sandy", "mandy", "candy","andy")
print(sorted(t))
print(f'print(type(t) =  {type(t)}')

['andy', 'candy', 'mandy', 'sandy']
print(type(t) =  <class 'tuple'>

# Tuples are immutable; so what happens when we sort?
Notice change in type when t - sorted(t)

In [10]:
t = ("sandy", "mandy", "candy","andy")
print(f't =  {t}')
print(f'what type is t.:  {type(t)}')
s = ("david")
print(type(s))
t = sorted(t)
print(f't is: {t}')
print(f'what type is t.:  {type(t)}')

t =  ('sandy', 'mandy', 'candy', 'andy')
what type is t.:  <class 'tuple'>
<class 'str'>
t is: ['andy', 'candy', 'mandy', 'sandy']
what type is t.:  <class 'list'>

#### Can we extend t since it is a list?  
Yes it extends....    
But what happens if we use t = t(sort)

In [16]:
t = ("sandy", "mandy", "candy","andy")
#t.append("donna")
## SORTED CHANGES T to a LIST.
print(f't is: {t}')
t = sorted(t)
print(f't is: {t}')
print(f'what type is t.:  {type(t)}')
names = ("david","dan")
for n in names:
    t.append(n)
print(f't =  {t}')
names2 = ("donna", "mike")
t.append(names2)
print(f't =  {t}')
names2 = ["matt", "chris"]
t.append(names2)
print(f'what type is t.:  {type(t)}')
#now sort it
print(f't =  {t}')
print(f'length of t =  {len(t)}')

t is: ('sandy', 'mandy', 'candy', 'andy')
t is: ['andy', 'candy', 'mandy', 'sandy']
what type is t.:  <class 'list'>
t =  ['andy', 'candy', 'mandy', 'sandy', 'david', 'dan']
t =  ['andy', 'candy', 'mandy', 'sandy', 'david', 'dan', ('donna', 'mike')]
what type is t.:  <class 'list'>
t =  ['andy', 'candy', 'mandy', 'sandy', 'david', 'dan', ('donna', 'mike'), ['matt', 'chris']]
length of t =  8

In [4]:
mylist = [i for i in range(10)]
print(mylist)
print(f'mylist is type? {type(mylist)}')

#mytup = (i for i in range(6))
mytup = tuple(mylist)
print(mytup)
print(f'mytup is type? {type(mytup)}')

print(mytup.count(6))
print(mytup.index(6))
print(mytup.index(5))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
mylist is type? <class 'list'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
mytup is type? <class 'tuple'>
1
6
5

#### More Sorting and Data Types

#### What types will these be?

In [42]:
nums = 1,2,3,4
print(type(nums))

<class 'tuple'>

In [41]:
nums = [1,2,3,4]
print(type(nums))

<class 'list'>

In [8]:
nums = 1
print(type(nums))

<class 'int'>

## Building and Sorting More complex types

In [2]:
list = [i for i in range(4)]
#print(list)

[0, 1, 2, 3]

Tuple within List

In [5]:
# nums = [1,2,3,4]
###### finish for loop so it produces lnames below
# lnames= [(0, 'andy'), (1, 'candy'), (2, 'mandy'), (3, 'sandy')]

names = ['andy', 'candy', 'mandy', 'sandy']
nums = [i for i in range(len(names))]
print(nums)
# build tuple within list
lnames = []

#
for i in nums:
    #print(names[i-1])
    lnames.append((i, names[i-0]))
##### WHAT PRINTS BELOW
print(f'lnames= {lnames}')
print(f'type(lnames= {type(lnames)}')
print(f'type(lnames[0]= {type(lnames[0])}')

[0, 1, 2, 3]
lnames= [(0, 'andy'), (1, 'candy'), (2, 'mandy'), (3, 'sandy')]
type(lnames= <class 'list'>
type(lnames[0]= <class 'tuple'>

In [7]:
####  Sort lnames based on key so lnames becomes:
#lnames = lnames= [(0, 'andy'), (2, 'candy'), (1, 'mandy')]

names = ['andy', 'mandy', 'candy']
nums = [i for i in range(len(names))]
print(nums)
# build tuple within list
lnames = []
for i in nums:
    lnames.append((i,names[i]))
print("sorted based on alphabet order of names")
print(f'lnames= {lnames}')
print(f'type(lnames) is {type(lnames)} and type(lnames[0]) {type(lnames[0])}')

[0, 1, 2]
sorted based on alphabet order of names
lnames= [(0, 'andy'), (1, 'mandy'), (2, 'candy')]
type(lnames) is <class 'list'> and type(lnames[0]) <class 'tuple'>

In [19]:
import names
for i in range(5):
    print(names.get_full_name())

Lynn Mejia
John Lawson
Carol Dickson
Stacey Early
Jerry Moore

#### ANSWER

In [23]:
####  Sort lnames based on key so lnames becomes:
#lnames = lnames= [(0, 'andy'), (2, 'candy'), (1, 'mandy')]
full_names=[ names.get_full_name() for i in range(5)]
print(full_names)

f_names = ['andy', 'mandy', 'candy']
nums = [i for i in range(len(f_names))]
print(nums)
# build tuple within list
tnames = []
lnames = []
for i in nums:
    # tnames is a tuple in a list
    tnames.append((i,f_names[i-0]))
    lnames.append(f_names[i-0])
#lnames.sort(key=lambda pair: pair[1])
print("sorted based on alphabet order of names")
print(f'tnames= {tnames}')
print(f'lnames= {lnames}')

['Mark Boatman', 'Millie Harvey', 'Sharon Weber', 'Sarah Griffin', 'Stacey Jacquier']
[0, 1, 2]
sorted based on alphabet order of names
tnames= [(0, 'andy'), (1, 'mandy'), (2, 'candy')]
lnames= ['andy', 'mandy', 'candy']

In [22]:
####  Sort lnames based on key so lnames becomes:
#lnames = lnames= [(0, 'andy'), (2, 'candy'), (1, 'mandy')]

full_names=[ names.get_full_name() for i in range(5)]

print(full_names)

['James Acosta', 'Dorothy Waugh', 'Sharon Dempsey', 'Benjamin Spears', 'Arline Fontaine']

#### Simple Data Access Cont

In [12]:
nums = [i for i in range(10)]
#print(nums)
nums.insert(1,11)
print(nums)
nums.append(12)
print(nums)
nums2 = nums.copy()
nums2.insert(1,"Two")
nums2.append("Fourteen")
print(f'nums: {nums} and nums2: {nums2}')

[0, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12]
nums: [0, 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12] and nums2: [0, 'Two', 11, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12, 'Fourteen']

In [1]:
w =[1, 1]
x = w
y = w.copy()
z = list(w)
w[0], w[1] = 2, 3
 
# print(" w : ",w)
# print(" x : ",x)
# print(" y : ",y)
# print(" z : ",z)

 w :  [2, 3]
 x :  [2, 3]
 y :  [1, 1]
 z :  [1, 1]