In [2]:
def get_factorial(number):
  factorial = 1
  for x in range(1, number + 1):
    factorial *= x
    print(factorial)
  return factorial

In [3]:
print(get_factorial(6))

1
2
6
24
120
720
720

In [10]:
def get_factorial_recursive(number):
    print(number)
    if number <=1:
        return 1
    return number * get_factorial_recursive(number - 1)

In [11]:
get_factorial_recursive(6)

6
5
4
3
2
1

720

In [12]:
def get_number():
    for i in range(1,4):
        yield i

In [13]:
print(get_number())

<generator object get_number at 0x7fe6a27d9540>

Create example using yield vs return
https://www.pythonforbeginners.com/basics/difference-between-yield-and-return-in-python

In [16]:
def square_list(num):
    list1 = [i * i for i in range(num)]
    return list1
print(square_list(11))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [15]:
newList = [i * i for i in range(10)]
print(newList)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [20]:
def square(list1):
    yield list1[0]**2
    yield list1[1] ** 2
    yield list1[2] ** 2
    yield list1[3] ** 2
    yield list1[4] ** 2
    yield list1[5] ** 2


input_list = [1, 2, 3, 4, 5, 6]
print("input list is:", input_list)
output = square(input_list)
print("Output from the generator is:", output)
print("Elements in the generator are:")
for i in output:
    print(i)

input list is: [1, 2, 3, 4, 5, 6]
Output from the generator is: <generator object square at 0x7fe6a27dbae0>
Elements in the generator are:
1
4
9
16
25
36

In [19]:
def square(list1):
    return list1[0]**2
    # return list1[1] ** 2
    # return list1[2] ** 2
    # return list1[3] ** 2
    # return list1[4] ** 2
    # return list1[5] ** 2


input_list = [1, 2, 3, 4, 5, 6]
print("input list is:", input_list)
output = square(input_list)
print("Output from the generator is:", output)
print("Elements in the generator are:")
for i in output:
    print(i)

input list is: [1, 2, 3, 4, 5, 6]
Output from the generator is: 1
Elements in the generator are:

TypeError: 'int' object is not iterable

In [25]:
mylist = [i for i in range(1,11) if i % 2 == 0]
print(mylist)

[2, 4, 6, 8, 10]

In [26]:
mylist = [i ** 2 for i in range(1,11) if i % 2 == 0]
print(mylist)

[4, 16, 36, 64, 100]

In [27]:
mylist = [i ** i for i in range(1,11) if i % 2 == 0]
print(mylist)

[4, 256, 46656, 16777216, 10000000000]

In [28]:
mylist = [i ** i for i in range(1,11) if i // 2 == 0]
print(mylist)

[1]

In [35]:
def outer_function(x):
    def inner_function(y):
        return x + y
    return inner_function

result = outer_function(10)(5)
print(result)

15

In [41]:
print(7 // 2)
print(7 % 2)
print(6 // 2)

3
1
3

In [52]:
value = 7
while value > 1:
    print(value)
    if value % 2 == 0:
        value = value // 2
    else:
        value = value + 1

7
8
4
2

In [44]:
for i in range(2,10,2):
    print(f'{i} // 2 = {i // 2}')

2 // 2 = 1
4 // 2 = 2
6 // 2 = 3
8 // 2 = 4

In [ ]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.get("model")
print(x) # Output: Mustang
Usage with Default Value

If the key does not exist, you can specify a default value to return instead of None
2
.

car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x = car.get("price", 15000)
print(x) # Output: 15000

In [66]:
# dic t zip example
names = ["david", "donna", "chris"]
nums = [n for n in range(len(names))]
print(names)
print(nums)
#dict_names = zip(nums, names)
dict_names = dict(zip(nums, names))
print(dict_names.get('0'))
print(dict_names)
print(list(dict_names))

['david', 'donna', 'chris']
[0, 1, 2]
None
{0: 'david', 1: 'donna', 2: 'chris'}
[0, 1, 2]

In [67]:
print(len(dict_
name = dict_names.get(0)
print(name)
name = dict_names.get(1)
print(name)

david
donna

In [72]:
for i in range(len(dict_names)):
    name = dict_names.get(i) # print(name) # name = dict_names.get(1)
    print(name)

david
donna
chris

In [79]:
print(dict_names.get(0))
print(dict_names.get(3, "dan"))
print(dict_names)
dict_names[3]='dan'
print(dict_names)

david
dan
{0: 'david', 1: 'donna', 2: 'chris'}
{0: 'david', 1: 'donna', 2: 'chris', 3: 'dan'}

In [81]:
names = ['John', 'Alice', 'Bob', 'Lucy']
scores = [85, 90, 78, 92]

#res = zip(names, scores)
#print(list(res))
res = dict(zip(names, scores))
print(res)

{'John': 85, 'Alice': 90, 'Bob': 78, 'Lucy': 92}

In [87]:
# print sorted based on name length
print(names)
print(sorted(names, key=len, reverse=True))
print(sorted(names, key=len, reverse=False))
print(names.sort())

['Alice', 'Bob', 'John', 'Lucy']
['Alice', 'John', 'Lucy', 'Bob']
['Bob', 'John', 'Lucy', 'Alice']
None

In [90]:
L = [1, 5, 4, 2, 3]
 
#Print the sorted list
print("Sorted list:")
print(sorted(L))
 
#Print the original list
print("\nOriginal list after sorting:")
print(L)
L.sort()
print("\nList after sort():")
print(L)

Sorted list:
[1, 2, 3, 4, 5]

Original list after sorting:
[1, 5, 4, 2, 3]

List after sort():
[1, 2, 3, 4, 5]

In [101]:
def myfunc(n):
  return abs(10-n)

a = (5, 3, 1, 11, 2, 12, 17)
l = []
for n in a:
    l.append(myfunc(n))
print(l)

[5, 7, 9, 1, 8, 2, 7]

In [99]:
def myfunc(n):
  print(abs(10-n))

a = (5, 3, 1, 11, 2, 12, 17)
for n in a:
    myfunc(n)

5
7
9
1
8
2
7

In [100]:
def myfunc(n):
  return abs(10-n)

a = (5, 3, 1, 11, 2, 12, 17)
x = sorted(a, key=myfunc)
print(x)

[11, 12, 5, 3, 17, 2, 1]